
.events-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $sm;
}

.events-header-title {
    // margin-right: $md;
    margin-right: $xs;
}





// CAROUSEL

.events-carousel-wrap {
    position: relative;

    overflow: hidden;
}

.events-carousel {
    margin-left: -1px;
    margin-right: -1px;
}






// SLIDE

.event-slide-inner {
    outline: none;
    text-decoration: none;
    color: #fff;
    background-size: cover;
    background-position: center center;

    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    height: 0;
    padding-top: 56.25%;

    &::before {
        content: "";
        background: linear-gradient(0deg, rgba(black, 0.6), rgba(black, 0.1));
        opacity: 0.7;
        
        display: block;
        position: absolute;
        z-index: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        transition: $trans-normal;
    }

    &::after {
        content: "";
        background: url(../../public/images/icon-play.svg) no-repeat center center;
        background-size: contain;
        opacity: 0;

        display: block;
        position: absolute;
        width: 36px;
        height: 36px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        transition: $trans-normal;
    }

    &:hover,
    &:focus {
        outline: none;
        text-decoration: none;
        color: #fff;
        &::before {
            opacity: 1;
        }
        &::after {
            opacity: 0.5;
        }
    }
}


.event-slide-heading {
    font-size: $fz-basic;
    font-weight: 500;
    text-align: center;

    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
}





@media (min-width: 576px){

    .events-header {
        justify-content: flex-start;
    }
    .events-header-title {
        margin-right: $md;
    }

}



@media(min-width: 992px){

    .events-carousel-wrap {
        &::after {
            content: "";
            background: $c-bg;

            display: block;
            width: 32px;
            height: 100%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 0;
            bottom: 0;
        }
    }

}


@media(min-width: 1200px){

    .event-slide-heading {
        font-size: $fz-lg;
    }

}